[package]
name = "peeper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
retour = "0.3.1"

[lib]
name = "peeper"
crate-type = ["dylib"]